h1{
background-color:#000;
color:#fff;
font-size:3em;
}

p.I believe everyone is determined in its unique way. Under challenging circumstances, people develop skills to survive.{
color:#666;
font-style: oblique;
}

